<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ionic Blank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar debounce="700" (ionChange)="getItems($event)" placeholder="Filter by name" showCancelButton></ion-searchbar>
  <ion-list>
    <ion-text *ngIf="noResults">No results found<ion-icon name="sad"></ion-icon></ion-text>
    <ion-item-sliding *ngFor="let task of items">
      <ion-item>
        <ion-icon name="create" slot="start"  [routerLink]="['/detail', {id: task.id}]"></ion-icon>
        <ion-label>
          {{task.title}}
          <ion-label>
            {{task.description}}
          </ion-label>
        </ion-label>
        <ion-badge color="{{task.completada ? 'success' : 'danger'}}">
          <ion-label>{{ task.completada ?  'Completa' : 'Incompleta'}}</ion-label>
        </ion-badge>
        <ion-badge color="warning" *ngIf="task.urgente">
          <ion-label>Urgente</ion-label>
        </ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option>
          <ion-icon name="medal" *ngIf="!task.completada" (click)="completeTask(task.id)"></ion-icon>
          <ion-icon name="trash" (click)="deleteTask(task.id)"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/detail']"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button (click)="AuthService.logout()"><ion-icon name="log-out"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
      <ion-title>Footer</ion-title>
    </ion-toolbar>
</ion-footer>
